annotated-types
anyio
atomicwrites
attrs
blinker
certifi
chardet
click
colorama
dataclasses
deprecation
exceptiongroup
Flask
gotrue
h11
httpcore
httpx
idna
importlib_metadata
iniconfig
itsdangerous
Jinja2
MarkupSafe
packaging
pluggy
postgrest
postgrest-py
py
pydantic
pydantic_core
pytest
python-dateutil
realtime
realtime-py
requests
rfc3986
six
sniffio
storage3
StrEnum
supabase
supabase-py
supafunc
toml
typing_extensions
urllib3
websockets
Werkzeug
zipp
